@import "~bootstrap/dist/css/bootstrap.css";

main > .container {
    padding: 80px 15px 0;
}

.footer {
    background-color: #F5F5F5;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}